.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/

.flutter-plugins
*.iml
.vscode/launch.json
test_driver/screenshots/
/screenshots

linux/.generated_flutter_root
windows/Generated.props
lib/generated/i18n.dart
ios/Flutter/flutter_export_environment.sh
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
windows/flutter/Generated.props
android/gradle.properties
macos/Flutter/GeneratedPluginRegistrant.swift
.flutter-plugins-dependencies
linux/flutter/generated_plugins.cmake
lib/generated_plugin_registrant.dart
dependencies/presentation/pubspec.lock
